Repository Shopify/draggable, pull requests merged in 2018-04, with the labels that each got.

#207 Correct class names in Droppable readme
  src/Droppable/README.md
Labels: documentation

#208 [Examples] Upgrade to beta6
  examples/package.json
  examples/src/components/Document/Head.html
  examples/src/content/Draggable/DragEvents/index.js
  examples/src/content/Droppable/UniqueDropzone/index.js
  examples/src/content/Home/index.js
  examples/src/content/Plugins/Collidable/index.js
  examples/src/content/Plugins/Snappable/index.js
  examples/src/content/Plugins/SwapAnimation/index.js
  examples/src/content/Sortable/MultipleContainers/index.js
  examples/src/content/Sortable/SimpleList/index.js
  examples/src/content/Sortable/Transformed/index.js
  examples/src/content/Swappable/Flexbox/index.js
  examples/src/content/Swappable/Floated/index.js
  examples/src/content/Swappable/GridLayout/index.js
  examples/yarn.lock
Labels: examples

#140 Adds resize mirror plugin
  README.md
  examples/src/components/Block/variants.scss
  examples/src/components/StackedList/variants.scss
  examples/src/content/Sortable/MultipleContainers/MultipleContainers.scss
  examples/src/content/Sortable/MultipleContainers/index.js
  examples/src/content/Swappable/Flexbox/index.js
  examples/src/content/Swappable/Floated/index.js
  examples/src/content/Swappable/GridLayout/index.js
  examples/src/scripts/utils/match-mirror-size.js
  scripts/build/bundles.js
  src/Draggable/Draggable.js
  src/Plugins/ResizeMirror/README.md
  src/Plugins/ResizeMirror/ResizeMirror.js
  src/Plugins/ResizeMirror/index.js
  src/Plugins/ResizeMirror/tests/ResizeMirror.test.js
  src/Plugins/index.js
  src/shared/utils/index.js
  src/shared/utils/requestNextAnimationFrame/README.md
  src/shared/utils/requestNextAnimationFrame/index.js
  src/shared/utils/requestNextAnimationFrame/requestNextAnimationFrame.js
Labels: bug, documentation, enhancement, examples, feature-request
