Repository Shopify/draggable, pull requests merged in 2018-03, with the labels that each got.

#168 Update Examples project to beta5
  README.md
  examples/README.md
  examples/package.json
  examples/src/styles/examples-theme/_font-stack.scss
  examples/src/styles/reset.scss
  examples/tools/webpack.config.js
  examples/tools/webpack.plugins.js
  examples/yarn.lock
  package.json
Labels: examples

#181 Examples: Better columns/rows + GridOverlay
  examples/package.json
  examples/src/components/Block/Block.scss
  examples/src/components/GridOverlay/GridOverlay.scss
  examples/src/components/Main/Main.scss
  examples/src/components/Main/props.scss
  examples/src/components/PageHeader/PageHeader.scss
  examples/src/components/StackedList/StackedList.scss
  examples/src/components/StackedList/props.scss
  examples/src/components/StackedList/variants.scss
  examples/src/content/Droppable/UniqueDropzone/UniqueDropzone.scss
  examples/src/content/Plugins/Collidable/props.scss
  examples/src/content/Plugins/Snappable/Snappable.scss
  examples/src/content/Plugins/SwapAnimation/SwapAnimation.scss
  examples/src/content/Sortable/MultipleContainers/MultipleContainers.scss
  examples/src/content/Sortable/SimpleList/SimpleList.scss
  examples/src/content/Swappable/Flexbox/Flexbox.scss
  examples/src/content/Swappable/Floated/Floated.scss
  examples/src/content/Swappable/GridLayout/GridLayout.scss
  examples/src/styles/examples-app.scss
  examples/src/styles/examples-theme/_layout-length.scss
  examples/src/styles/utils/shared/functions.scss
  examples/src/views/templates/document.html
  examples/yarn.lock
Labels: examples

#188 [Examples] Add code links to all pages and Button component
  examples/src/components/Button/Button.scss
  examples/src/components/Button/variants.scss
  examples/src/components/Link/Link.scss
  examples/src/components/Link/props.scss
  examples/src/components/Link/variants.scss
  examples/src/components/PageHeader/PageHeader.html
  examples/src/components/PageHeader/PageHeader.scss
  examples/src/styles/examples-app.scss
  examples/src/styles/examples-theme/_type-scale.scss
  examples/src/views/collidable.html
  examples/src/views/drag-events.html
  examples/src/views/flexbox.html
  examples/src/views/floated.html
  examples/src/views/grid-layout.html
  examples/src/views/index.html
  examples/src/views/multiple-containers.html
  examples/src/views/simple-list.html
  examples/src/views/snappable.html
  examples/src/views/swap-animation.html
  examples/src/views/transformed.html
  examples/src/views/unique-dropzone.html
Labels: design, examples

#194 [Examples] Resolve some iPhonex layout issues
  examples/src/components/Document/Head.html
  examples/src/components/Page/Page.scss
Labels: examples

#195 [Examples] New tabs need rel=noopener
  examples/src/components/Sidebar/Sidebar.html
Labels: examples

#146 DroppableEvent changes
  examples/src/components/Block/variants.scss
  examples/src/content/Droppable/UniqueDropzone/UniqueDropzone.html
  examples/src/content/Droppable/UniqueDropzone/UniqueDropzone.scss
  examples/src/content/Droppable/UniqueDropzone/index.js
  examples/src/content/Plugins/Collidable/Collidable.html
  examples/src/content/Plugins/Collidable/index.js
  scripts/test/matchers/event.js
  scripts/test/matchers/index.js
  scripts/test/matchers/utils.js
  src/Droppable/Droppable.js
  src/Droppable/DroppableEvent/DroppableEvent.js
  src/Droppable/DroppableEvent/README.md
  src/Droppable/README.md
  src/Droppable/tests/Droppable.test.js
Labels: enhancement
